@model Projekt_bazy.Models.Zamowienia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zamowienia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaSprzetu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaSprzetu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZamowienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZamowienia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zamawiajacy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zamawiajacy.Imie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdZamowienia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
