@model IEnumerable<Projekt_bazy.Models.Zamowienia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazwaSprzetu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataZamowienia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zamawiajacy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaSprzetu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZamowienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zamawiajacy.Imie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdZamowienia" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdZamowienia" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdZamowienia" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
