@model IEnumerable<Projekt_bazy.Models.Personel>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stopien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerOdznaki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Magazyn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stopien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerOdznaki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Magazyn.Funkcjonalnosc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPersonelu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPersonelu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPersonelu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
